/*  your css code here. If applicable */
body
{
	background-color:#f5f5f5;
}
.testimonial-author
{
	text-align:right;
	background-color:white;
	border:white;
	font-style:italic;
}
.main-container
{
	background-color:white;
}

